<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cds</title>
</head>
<body>
<h1>Update CD</h1>

<form action="/api/cds/<%= cd._id%>" method="post">
    <input type="text" name="name" value="<%= cd.name%>">
    <input type="text" name="description" value="<%= cd.description%>">
    <button type="submit">Update</button>
</form>
</body>
</html>